:root {
  /* --brand-color: #8ec1d6;
  --dark-color: #3d4b5f;
  --mid-color: #cbd5e1;
  --light-color: #f8fafc; */
  --brand-color: #3ab5ac;
  --dark-color: #334155;
  --mid-color: #e2e8f0;
  --light-color: #f8fafc;
}
.App {
  font-family: sans-serif;
  text-align: center;
}
html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  /* transition: background-color 0.5s; */
  background-color: var(--light-color);
  font-family: "Oswald", sans-serif !important;
}
.leaflet-container {
  position: absolute;

  height: 100%;
  width: 100%;
}
#root {
  width: 100%;
  height: 100%;
}
#map-wrapper {
  position: relative;
  width: 75%;
  height: 100%;
}

/* .leaflet-div-icon {
  background: transparent;
  border: none;
} */

.content-m {
  /* margin-left: 230px; Same as the width of the sidenav */
  margin: 60px 40px 60px 340px;
  /* font-size: 28px; Increased text to enable scrolling */
  padding: 0px 10px;
  background-color: var(--brand-color);
  border-radius: 20px;
  /* padding-bottom: 30px;
  padding-top: 20px;
  padding-left: 30px; */
  padding: 30px;
}

.ui.header {
  color: var(--light-color) !important;
}

/* SidebarMenu: */
.sidenav {
  height: 100%;
  width: 300px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: var(--dark-color);
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav h1 {
  cursor: pointer;
  padding: 30px 8px 6px 16px;
  color: var(--light-color) !important;
}

.sidenav a {
  padding: 30px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: var(--light-color);
  display: block;
  cursor: pointer;
}

.sidenav a:hover {
  color: var(--mid-color) !important;
}

.sidenav i {
  cursor: pointer;
  color: var(--brand-color) !important;
  margin-left: 50px;
  margin-right: 15px;
}

.span {
  font-size: 30px;
  cursor: pointer;
}

/* Login */
.login-container {
  background-color: var(--dark-color);
}

.login-btn {
  background-color: var(--brand-color) !important;
}

/* Home */
.home-container {
  padding-top: 20px;
}

/* User Area */
.edit-form {
  max-width: 85% !important;
  padding: 15px;
  border-radius: 5px;
  background-color: var(--light-color);
}

.edit-btn {
  background-color: var(--brand-color) !important;
  color: var(--light-color) !important;
}

.edit-btn:hover {
  background-color: teal !important;
}

/* Card */
.my-card {
  background-color: var(--light-color) !important;
  /* border: 0.5px var(--brand-color) solid !important; */
}

/* Search */
.search {
  border-radius: 15px;
}

.search > i.inverted.circular.icon {
  background-color: var(--brand-color) !important;
}

/* Add Form */
.add-form {
  max-width: 88.3% !important;
  border-radius: 5px;
  background-color: var(--light-color);
  padding: 15px;
  border: 0.5px var(--mid-color) solid;
}

.add-btn {
  background-color: var(--brand-color) !important;
  color: var(--light-color) !important;
}

.add-btn:hover {
  background-color: teal !important;
}
